name: CI Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Install pnpm
      uses: pnpm/action-setup@v4
        
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'pnpm'
        
    - name: Install Dependencies
      run: pnpm install --frozen-lockfile
      
    - name: Lint Check
      run: pnpm lint
      continue-on-error: true
      
    - name: Build and Type Check
      run: pnpm build
